# <b>Factor Analysis</b>

Factors: Liner combination of original variables
Process of combining highly correlated variables is called factor analysis

Linear combinations of correlated variables

In factor analysis we combine the features having low variance or which are correlated to each other.


## Objective:
- Reduce numer of variables / decrease dimensionality
- Examine relationships between variables
- Address problem of milticollinearily

## Assumption:
- Normalized data
- Factors are independent of each other
- There exists some underlying factors that can describe the original variables

## Type of FA:
<b>1) Exploratory FA:</b>
- ID relationships among variables
- Group variables that are part of similar concept
- No prior assumption abt number or relationshop among factors

<b>2) Confirmatory FA:</b>
- Assumption regarding num of factors. We create a hypothesis that there are N number of factors which can represent or describe the data.
- Test hypothesis that variables are associated with n specific factors.

## Steps:
1) Validate the data: 
    - Sample size. Sample size > 1000 for excellent performance
    - Sample to Variable ratio. This ratio should be around 15:1
    - Correlation values of variables. If correlation is very less (<0.3), then FA might not be a good technique

2) Extract the factors:
    - Assumptions:
        - Error terms are independent of one another
        - Factors are independent of one another as well as error terms

3)


## Factor Lodings:
- represent the relationship of each variable with underlying factors

In [1]:
# import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.decomposition import FactorAnalysis

In [2]:
train = pd.read_csv('data.csv')

In [3]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052